body{
    margin: 0;
}

ul{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

li{
    display: inline;
    padding: 15px;
}

li:hover{
    text-decoration: underline;
}

.top_nav{
    position: static;
    top: 0%;
    width: 100%;
}

#topLeft_nav{
    float: left;
    padding: 10px;
}


#topRight_nav{
    float: right;
    padding: 10px;
}

img{
    display: flex;
    justify-content: center;
    top:50%;

}

.bottom_nav{
    bottom:0;
    position: fixed;
    width: 100%;
    background-color: lightgray;
}

#bottomLeft_nav{
    float:left;
    padding:15px;
}

#bottomRight_nav{
    float: right;
    padding: 15px;
}


.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5cm;
    position: relative;
}

.search_bar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#text_box{
    width: 25%;
    border: 1px solid gray;
    border-radius: 30px;
    padding: 15px;
    box-sizing: border-box;
    outline:none;
    font-size: medium;
}

button{
    position: relative;
    left: 42%;
    padding: 7px;
    border-radius: 4px;
    background-color: #f8f8f8;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin: 20px;
    border: 1px solid #f2f2f2;
}

button:hover{
    color: black;
    border: 1px solid lightgray;
}
